@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
--hei:"---"
}

*{
    box-sizing: border-box;
}
body{
    background-color: #f1f1f1;
    font-family: 'Montserrat', sans-serif;
   
}

nav{
    position: fixed;
    width: 15%;
    background-color: #f1f1f1;
    height:100vh;
    overflow: auto;
    left: 10px;
    border-left: 2px #04ab solid ;
    top:0;
    box-shadow: 10px 7px 7px -5px rgba(0,0,0,0.61);
-webkit-box-shadow: 10px 7px 7px -5px rgba(0,0,0,0.61);
-moz-box-shadow: 10px 7px 7px -5px rgba(0,0,0,0.61);
border-radius: 5px;


}

input{
    border: none;
    background-color: transparent;
    padding: 10px;
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
    font-style: italic;
    font-weight: bold;

}
input:hover{
    background-color: #555;
    color: white;
    cursor: pointer;

}
h3{
    margin: 0;
    padding: 10px;
    font-size: 0.8rem;
   
   

}
h3:hover{
    background-color: #04aa6d;
    cursor: pointer;
    box-shadow: 10px 7px 7px -5px rgba(0,0,0,0.61);

}
h3.menu{
    background-color: #04ab;
}

.get-pic-title.active{
    background-color: #04aa6d;
    box-shadow: 10px 7px 7px -5px rgba(0,0,0,0.61);
}
.get-pic-title{
    background-color: transparent;
}

.wine-title.active{
    background-color: #04aa6d;
    box-shadow: 10px 7px 7px -5px rgba(0,0,0,0.61);
}
.wine-title{
    background-color: transparent;
}
.book-title{
    background-color: transparent;
    
}
.book-title.active{
    
    background-color: #04aa6d;
    box-shadow: 10px 7px 7px -5px rgba(0,0,0,0.61);
}


.get-pic.active{
    opacity: 0;
    display: block;
    line-height:0;
    height: 0px;
    transition: height 0.5s ease-in, opacity 1s ease-in;
    overflow: hidden;
   
   
}
.get-pic{
    opacity: 1;
    height: var(--hei);
    transition: height 0.5s ease-in, opacity 1s ease-in;
   

}
.wine.active{
    display: block;
    line-height:0;
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease-in, opacity 1s ease-in;
    opacity: 0;
}
.wine{
    opacity: 1;
    height:228px;
    transition: height 0.5s ease-out, opacity 1s ease-in;
   

}


.book.active{
    display: block;
    line-height:0;
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease-in, opacity 1s ease-in;
    opacity: 0;
}
.book{
    opacity: 1;
    height:228px;
    transition: height 0.5s ease-out, opacity 1s ease-in;

}

.container{
    position: absolute;
    left:16%;
    top:0;
    height: auto;
    width: 84%;
    border-radius: 15px;
    background-color: #04aa6d;
    box-shadow: -5px 5px 7px 2px rgba(0,0,0,0.61);
    overflow-y:auto;
    padding: 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 0;

   
}
img{
    border: #04aa6d 1px solid;
    border-radius: 15px;
    box-shadow: 5px 5px 7px 2px rgba(0,0,0,0.61);
    margin-top:10px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
}
.text{
    margin: 0;
    
}
#input-search{
    border: 1px solid black;
    width: 100%;
    margin: 0;
    
}
#input-search:hover{
    background-color: transparent;
}
#input-search:focus{
    outline: none;
    background-color: transparent;

}
#submit-search{
    background-color: #4544a4;
    width: 50%;
    transform: translateX(50%);
    

}
#submit-search:active{
    background-color: #4544a4;
    box-shadow:1px 1px 1px 2px rgba(0,0,0,0.2) ;

}

.get-form{
    visibility: hidden;
    height: 0;
}
